// Tweetbot-inspired theme for tweeten Twitter client
// @author https://twitter.com/rolle
// @since 17.7.2017
// @version 17.7.2017
$color-background-leftbar: #252525;
$color-column-header-text: #2c2c2c;
$color-column-border-right: #a1a1a1;
$color-buttons-background: #333;
$column-header-height: 38px;
$column-border-right-width: 1px;

.js-app,
.application {

  // Remove space between left bar and app-content
  .app-content,
  .js-app-content {
    left: 44px !important;

    // Add default background color for columns container
    .app-columns-container {
      background: #a0a0a0 !important;

      // Hide horizontal scrollbars
      &.scroll-h {
        overflow-x: hidden !important;
      }
    }

    .drawer,
    .js-drawer {

      // Align compose section in drawer
      .compose,
      .js-docked-compose {
        left: 6px !important;
        position: relative !important;

        // Hide compose header
        .compose-header {
          display: none !important;
        }

        // Style compose buttons
        button {
          background: $color-buttons-background !important;
          font-size: 14px !important;
          text-transform: none !important;
        }
      }
    }
  }

  // Change left bar background to dark
  .app-header,
  .js-app-header,
  .tweet-button,
  .js-header-action,
  .btn-compose {
    background: $color-background-leftbar !important;

    // Color tweet button
    .tweet-button,
    button.tweet-button {
      background: $color-background-leftbar !important;
    }
  }

  .js-header-action {
    &::after {
      background: $color-background-leftbar !important;
    }
  }

  // Force reset margins in columns
  .js-app-columns,
  .app-columns {
    margin: 0 !important;

    // Column settings
    .js-column,
    .column {
      margin: 0 !important;
      border-right: $column-border-right-width solid $color-column-border-right !important;


      // Change all column header backgrounds
      .column-header,
      .js-column-header,
      .column-header-temp {
        background: url('https://rolle.wtf/tweeten-ch-gradient-2.png') repeat-x top #d0cfd0 !important;
        height: $column-header-height !important;
        line-height: $column-header-height !important;

        // Add more subtle settings button and fix alignment issues
        .js-action-header-button,
        .column-header-link,
        .column-settings-link {
          color: #888 !important;
          top: 4px !important;
          right: 10px !important;
          font-size: 12px !important;
        }

        // Modify title
        .column-title {
          text-align: center !important;
          text-transform: none !important;
          margin-right: 0 !important;
          font-size: 14px !important;

          .column-head-title {
            text-align: center !important;
            text-transform: none !important;
            font-size: 14px !important;
          }

          // Align icons
          .icon {
            color: $color-column-header-text !important;
            top: 3px !important;
            position: relative !important;
          }

          // Hide second span in title
          .attribution,
          .txt-mute {
            display: none !important;
          }

          // Paint everything darker
          * {
            color: $color-column-header-text !important;
          }
        }
      }

      .js-column-content,
      .column-content,
      .js-column-options,
      .js-column-options-container {
        .button-tray {
          background: #e9eaed !important;
        }

        .button-group {
          button,
          .btn,
          .btn-options-tray {
            background: #e9eaed !important;
            color: #2d2d2d !important;

            * {
              color: #2d2d2d !important;
            }
          }
        }
      }
    }
  }
}
