// Tweetbot-inspired theme for tweeten Twitter client
// @author https://twitter.com/rolle
// @since 17.7.2017
// @version 17.7.2017
$color-background-leftbar: #252525;
$color-column-header-text: #2c2c2c;
$color-column-border-right: #a1a1a1;
$color-buttons-background: #333;
$column-header-height: 38px;
$column-border-right-width: 1px;
$font-size-column-title: 14px;

// Hide useless tooltips
.js-column-nav-menu-flyover,
.column-nav-flyout {
  display: none !important;
}

// Define sidebar width
.is-condensed .app-header,
.is-condensed .app-header.is-condensed .app-header-inner,
.is-condensed .js-app-header .js-search button.app-search-fake,
.is-condensed .js-app-header .js-search,
.is-condensed .js-app-header .column-navigator,
.is-condensed .js-app-header .app-navigator.margin-bm {
  width: 50px !important;
}

.js-app,
.application {

  // Make search input darker
  .js-app-header {
    .js-search .js-search-input-control input {
      background: #000 !important;
    }
  }

  // Lowercase Back-title
  .column-detail .js-detail-header .column-title-back span {
    text-transform: none !important;
    font-size: $font-size-column-title !important;
  }

  // Remove space between left bar and app-content
  .app-content,
  .js-app-content {
    left: 44px !important;

    // Add default background color for columns container, make top border less visible
    .app-columns-container {
      top: -1px !important;
      background: #a0a0a0 !important;

      // Hide horizontal scrollbars
      &.scroll-h {
        overflow-x: hidden !important;
      }
    }

    .drawer,
    .js-drawer {

      // Align compose section in drawer
      .compose,
      .js-docked-compose {
        left: 6px !important;
        position: relative !important;

        // Hide compose header
        .compose-header {
          display: none !important;
        }

        // Style compose buttons
        button {
          background: $color-buttons-background !important;
          font-size: $font-size-column-title !important;
          text-transform: none !important;
        }
      }
    }
  }

  // Change left bar background to dark
  .app-header,
  .js-app-header,
  .tweet-button,
  .js-header-action,
  .btn-compose {
    background: $color-background-leftbar !important;

    // Color tweet button
    .tweet-button,
    button.tweet-button {
      background: $color-background-leftbar !important;
    }
  }

  .js-header-action {
    &::after {
      background: $color-background-leftbar !important;
    }
  }

  // Force reset margins in columns
  .js-app-columns,
  .app-columns {
    margin: 0 !important;

    // Column settings
    .js-column,
    .column {
      margin: 0 !important;
      border-right: $column-border-right-width solid $color-column-border-right !important;

      // More sleek tweet-detail-actions
      .js-tweet-detail .tweet-detail-actions {
        background: #fff !important;

        .tweet-detail-action-item {
          background: #fff !important;
        }
      }

      // Less space between tweets
      .stream-item,
      .js-stream-item {
        margin-bottom: 5px;

        // Slight separator between tweets
        .item-box {
          border-bottom: 1px solid #e6e6e6;

          // Full opacity on tweet actions on hover
          &:hover {
            .tweet-action,
            .js-tweet-action {
              opacity: 1 !important;
            }
          }
        }

        // Make small text even smaller
        .nbfc {
          font-size: 11px !important;
          margin-bottom: 1px;
        }

        .tweet,
        .js-tweet {
          position: relative !important;

          // More space for tweet actions
          .tweet-footer {
            margin-top: 10px !important;
            margin-bottom: 7px !important;            
          }

          .tweet-actions,
          .js-tweet-actions {
            // Smaller icons
            li {
              font-size: 11px !important;

              .tweet-action {
                font-size: 11px !important;
                opacity: .65;

                .icon,
                .Icon {
                  font-size: 13px !important;
                }

                .pull-right {
                  font-size: 11px !important;
                }
              }
            }
          }
        }

        // More subtle timestamp
        .tweet-timestamp a {
          color: #b3b3b3 !important;
          font-weight: 400 !important;
        }
      }

      // Change all column header backgrounds
      .column-header,
      .js-column-header,
      .column-header-temp {
        background: url('https://rolle.wtf/tweeten-ch-gradient-2.png') repeat-x top #d0cfd0 !important;
        height: $column-header-height !important;
        line-height: $column-header-height !important;

        // Add more subtle settings button and fix alignment issues
        .js-action-header-button,
        .column-header-link,
        .column-settings-link {
          color: #888 !important;
          top: 4px !important;
          right: 10px !important;
          font-size: 12px !important;
        }

        .column-title {
          text-align: center !important;
          height: $column-header-height !important;
          height: 38px;
          width: 100%;
          width: 100% !important;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .column-header-title {
          height: $column-header-height !important;
          height: 38px;
          width: 100% !important;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        span.column-heading {
          text-transform: none;
          font-size: 14px;
          top: 0;
          float: none;
          display: inline;
          margin-left: 25px !important;
        }

        // Fix back icon alignment
        .column-title-back {
          .icon,
          .Icon {
            &:before {
              position: relative !important;
              top: 2px !important;
            }
          }
        }

        // Edit box styles in column header
        .column-title-edit-box,
        .js-column-title-edit-box {
          background: transparent !important;
          height: $column-header-height !important;
          font-size: $font-size-column-title !important;
        }

        // Modify title
        .column-title,
        .column-title-back {
          text-transform: none !important;
          margin-right: 0 !important;
          font-size: $font-size-column-title !important;
          padding-left: 0 !important;

          .column-head-title {
            text-align: center !important;
            text-transform: none !important;
            font-size: $font-size-column-title !important;
          }

          // Align icons
          .icon {
            color: $color-column-header-text !important;
            top: 3px !important;
            position: relative !important;
          }

          // Hide second span in title
          .attribution,
          .txt-mute {
            display: none !important;
          }

          // Paint everything darker
          * {
            color: $color-column-header-text !important;
          }
        }
      }

      .js-column-content,
      .column-content,
      .js-column-options,
      .js-column-options-container {
        .button-tray {
          background: #e9eaed !important;
        }

        .button-group {
          button,
          .btn,
          .btn-options-tray {
            background: #e9eaed !important;
            color: #2d2d2d !important;

            * {
              color: #2d2d2d !important;
            }
          }
        }
      }
    }
  }
}
